@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --main-color: #6C63FF;
    --bg: #202026;
    --text-color: #F8F7FF;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: var(--bg);
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h2 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--text-color);
}

p {
    margin-top: 4px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--text-color);
}

b {
    color: var(--main-color);
}

svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

a svg.icons-btn {
    fill: var(--text-color);
}

.btn {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--text-color);

    width: 200px;

    margin: 25px 0;
    padding: 15px 25px;

    overflow: hidden;

    border: 2px solid var(--text-color);

    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;

        background-color: var(--main-color);
        z-index: -1;

        transition: .7s ease;
    }
}

.btn-animation {
    &:before {
        width: 110%;
        height: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:hover{
        &:before{
            height: 450%;
        }
    }
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--text-color);
    float: right;
    border-radius: 100px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background-color: var(--main-color);
        border-radius: 90px;
        transition: 0.3s;
    }
}

input:checked + label {
    background-color: var(--text-color);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

svg.icon-mode {
    width: 20px;
    height: 20px;
    fill: var(--text-color);
}

svg.icon-mode-2 {
    margin-left: 8px;
}